@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
}
.page {
  min-height: 100vh;
  padding: 24px;
  background: rgb(255, 254, 254);
  font-family: "Kanit", sans-serif;
}

.app {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Kanit", sans-serif;
}

.app-header {
  background: #0077cc;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;

  margin-bottom: 25px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
}

.product-card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  position: relative;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-4px);
}

.unavailable {
  opacity: 0.65;
}

.badge {
  font-weight: 600;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 11px;
  font-weight: bold;
}

.badge-green {
  background: #d4edda;
  color: #155724;
}

.badge-red {
  background: #f8d7da;
  color: #721c24;
}

/* === IMAGE === */

.product-img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 8px;
}
.product-card:hover {
  transform: scale(1.05);
}

.category {
  font-size: 11px;
  color: #0077cc;
  font-weight: bold;

  text-transform: uppercase;
}

h3 {
  margin: 8px 0;
  font-size: 15px;
}

.rating {
  color: #f5a623;
  font-size: 13px;
  margin: 5px 0;
}

.review-count {
  color: #888;
  font-size: 11px;
  margin-left: 5px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.price {
  font-size: 18px;
  color: #0077cc;
}

.add-btn {
  background: #0077cc;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.add-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.add-btn:hover:not(:disabled) {
  background: #005fa3;
}

.description {
  font-size: 13px;
  margin: -5px 0;
  color: #838383;
  font-weight: thin;
}

.price-container {
  display: flex;
  flex-direction: column;
}

.price-row {
  display: flex;
  align-items: center;
  gap: 6px;
}

.old-price {
  text-decoration: line-through;
  color: #888;
  font-size: 13px;
}

.discount-badge {
  background: #ff4757;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: bold;
}